@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");

.aboutContainer {
  position: relative;
  left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutContainer p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.aboutContainer h1 {
  font-family: "Vollkorn", serif;
  font-size: 35px;
  color: black;
  margin-bottom: 0px;
}

img.aboutLaserLine {
  height: 14px;
  width: 649px;
}

.aboutReasonsContainer {
  position: relative;
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.aboutReasonsContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutReasonsContainer div div {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0px 5px 10px 5px #c3c3c3;
  border-radius: 50px;
  margin: 30px 50px;
}

.aboutReasonsContainer div a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black !important;
}
