@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");

.applicationsContainer {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.applicationsContainer h1 {
  font-family: "Vollkorn", serif;
  font-size: 35px;
  color: black;
}

.applicationGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.applicationGrid div {
  width: calc(25% - 50px);
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 25px;
  border-radius: 10px;
}

.applicationGrid div a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 15;
  color: #4b4a56;
}

.gridBlue {
  background: #f5f7fb;
}

.gridGreen {
  background: #ebf5e2;
}

.gridYellow {
  background: #fffbe1;
}
