@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");

.contactContainer {
  position: relative;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", serif;
}

.contactContainer h1 {
  font-size: 35px;
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

.contactForm {
  width: 95%;
  height: fit-content;
  background: white;
  box-shadow: 0px 5px 20px 2px #adadad;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
}

.contactLeft {
  min-width: 220px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.contactRight {
  flex-grow: 1;
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactContainer p {
  font-size: 18px;
  text-align: center;
  width: 200px;
  margin-bottom: 20px;
}

.contactContainer a {
  /* margin-right: auto;
  margin-left: 100px; */
  margin-bottom: 20px;
  font-weight: bold;
}

.styled-input input:focus ~ label,
.styled-input textarea:focus ~ label,
.styled-input input:valid ~ label,
.styled-input textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 95%;
  margin: 1rem 0;
  position: relative;
  border-radius: 10px;
}

.styled-input textarea ~ label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input input ~ label {
  color: #999;
  padding-top: 10px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input textarea {
  background-color: #eeeeee;
  color: #474747;
  padding: 30px;
  border: 0;
  width: calc(100% - 30px);
  font-size: 1rem;
  border-radius: 10px;
  resize: none;
  min-height: 15em;
}

.styled-input input {
  padding: 20px;
  padding-left: 5px;
  padding-bottom: 5px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  color: black;
  border-bottom: 1px #979797 solid;
}

.styled-input input:focus,
.styled-input textarea:focus {
  outline: 0;
}

.styled-input input:focus ~ span,
.styled-input textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

.submit-btn {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  display: inline-block;
  background-color: #555555;
  color: white;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.ant-message {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1010;
  width: fit-content;
  pointer-events: none;
}
.ant-message-notice {
  padding: 8px;
  text-align: center;
}
.ant-message-notice:first-child {
  margin-top: -8px;
}
.ant-message-notice-content {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  pointer-events: all;
}
.ant-message-success .anticon {
  color: #52c41a;
}
.ant-message-error .anticon {
  color: #f5222d;
}
.ant-message-warning .anticon {
  color: #faad14;
}
.ant-message-info .anticon,
.ant-message-loading .anticon {
  color: #1890ff;
}
.ant-message .anticon {
  position: relative;
  top: 1px;
  margin-right: 8px;
  font-size: 16px;
}

.ant-message-notice {
  padding: 8px;
  text-align: center;
}
.ant-message-notice:first-child {
  margin-top: -8px;
}
.ant-message-notice-content {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  pointer-events: all;
}

.ant-message-notice.move-up-leave.move-up-leave-active {
  overflow: hidden;
  -webkit-animation-name: MessageMoveOut;
  animation-name: MessageMoveOut;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
@-webkit-keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
@keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
