@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");

.detailedProductContainer {
  height: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px #797979;
  font-family: "Lato", sans-serif;
}

.detail-tabs {
  width: 100%;
}

.detail-tabs-nav {
  display: flex;
  align-items: stretch;
}

.detail-tabs a {
  padding: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  background: #eaeaed;
  border: 1px solid #cecfd5;
  color: #0087cc;
  display: block;
}
.detail-tabs a:hover {
  color: #ff7b29;
}

.detail-tabs-nav div {
  flex-grow: 1;
}

.detail-tabs-nav div:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.detail-tabs-nav div:last-child a {
  border-top-right-radius: 6px;
}
.detail-tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #2db34a;
  cursor: default;
}
.detail-tabs-stage {
  padding: 24px 30px;
  position: relative;
  top: -1px;
  z-index: 1000000 !important;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailedView {
  width: 70%;
}

.detailedProductContainer {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.detailedView h1 {
  font-family: "Vollkorn", serif;
  font-size: 35px;
  color: black;
}

p h1 {
  margin: 5px 0px;
  font-size: 22px !important;
}

.productsContainer img {
  border-radius: 10px;
}
