@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.headerLogo {
  position: absolute;
  left: 0;
  top: 0;
  width: 550px;
  height: 495px;
}

.headerTagline {
  font-family: "Vollkorn", serif;
  position: absolute;
  right: 80px;
  top: 30px;
  text-align: right;
  font-size: 30px;
  color: #7f7f7f;
  font-style: italic;
}

.headerTagline a {
  color: #3f3f3f;
  font-style: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.headerTagline a b {
  font-size: 35px;
  color: black;
}
.header {
  position: relative;
  height: 180px;
  margin-bottom: 30px;
}
