@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.homeCarousel {
  width: 1100px;
  height: 350px;
  font-family: "Lato", sans-serif;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.homeCarouselSlide {
  margin-top: 10px;
  height: 320px;
}

.homeCarouselSlide img {
  width: 476.48px;
}

.homeCarouselSlide p {
  font-size: 18px;
}

.homeCarouselSlider {
  width: 100%;
  height: 100%;
}

.homeCarouselSlide {
  width: calc(100% - 200px);
  display: flex;
  align-items: flex-start;
  margin: 0px 100px;
}

.homeCarouselSlide p {
  flex-grow: 1;
  text-align: right;
  margin: 10px 0px;
  margin-right: 50px;
  line-height: 35px;
  letter-spacing: 0.18px;
}

.homeCarouselSlide img {
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px #dfdfdf;
  margin: 10px;
}

.homeCarouselPager {
  display: flex;
  justify-content: flex-end;
  margin-right: 105px;
}

.carousel__dot {
  box-sizing: border-box;
  background: #9b9b9b;
  cursor: pointer;
  margin: 10px;
  padding: 4px;
  border-radius: 50%;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  outline: 0;
}

.carousel__dot:hover,
.carousel__dot:disabled {
  box-shadow: 0 0 40px 40px black inset;
  background: black;
}

.homeCarouselSliderTrans {
  transition: transform 500ms;
  transition-timing-function: cubic-bezier(
    0.645,
    0.045,
    0.355,
    1
  ); /* easeInOutCubic */
  will-change: transform;
}

.homeCarousel:before,
.homeCarousel:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100px;
  top: 0;
  height: 100%;
  pointer-events: none; /*makes the linkes behind clickable.*/
}
.homeCarousel:before {
  left: 0;
  background: linear-gradient(to right, white, rgba(0, 0, 0, 0));
}
.homeCarousel:after {
  right: 0;
  background: linear-gradient(to left, white, rgba(0, 0, 0, 0));
}
