@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.headerMenu {
  background: white;
  box-shadow: 0px 5px 10px 2px #bcbcbc;
  padding: 10px;
  position: absolute;
  top: 100px;
  border-radius: 10px;
  right: 80px;
  font-family: "Lato", sans-serif;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  z-index: 200;
  pointer-events: all;
}

.headerMenu.fixed {
  top: 20px;
}

.headerMenu:hover {
  box-shadow: 0px 5px 20px 2px #e7e7e7;
}

.headerMenu ul {
  padding: 0;
  margin: 5px 0;
  list-style: none;
  display: table;
  width: 100%;
  text-align: center;
}
.headerMenu li {
  display: table-cell;
  position: relative;
}

.headerMenu a {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px 30px;
  letter-spacing: 0.15em;
  color: black !important;
}

.headerMenu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.headerMenu a:hover:after {
  width: 60%;
  left: 20%;
}

a.selected:after {
  width: 60%;
  left: 20%;
  transition: width 0.8s ease 0s, left 0.8s ease 0s;
}
