.KLProductContainer {
  display: flex;
  overflow-x: auto;
  min-width: 100%;
  height: calc(323px + 80px);
  position: relative;
  left: 0;
  transition: all 0.5s linear;
}

.KLProductContainer::-webkit-scrollbar {
  display: none;
}

.KLProductElement {
  height: 323px;
  min-width: 551.56px;
  max-width: 551.56px;
  margin: 20px;
  transition: all 1000ms linear;
  transition-property: height, width;
  display: flex;
  flex-direction: column;
}

.KLProductElement img {
  width: 90%;
  min-height: 90%;
  max-height: 90%;
  border-radius: 10px;
  margin: 10px;
}

.KLProductContainer a {
  left: 0%;
  align-self: flex-start;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bolder;
  font-size: 30px;
  max-height: 10%;
  text-shadow: 0px 0px 15px #5a5a5a;
}
